.overlay {
  background-color: var(--overlayColor);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease;
  z-index: 1000;
  backdrop-filter: blur(5px);
}
.button {
  padding: 0.6rem 1rem;
  background-color: var(--backgroundColor3);
  border: 1px solid var(--borderColor3);
  color: var(--color3);
  border-radius: 0.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  opacity: 1;
}
.button svg {
  fill: var(--color3);
  color: var(--color3);
  transition: all 0.2s;
}
.button.color-1 {
  background-color: var(--backgroundColor1);
  border: 1px solid var(--borderColor1);
  color: var(--color1);
}
.button.color-1 svg {
  fill: var(--color1);
  color: var(--color1);
}
.button.color-1:hover:not(:disabled) {
  background-color: var(--backgroundColor1Hover);
}
.button.color-2 {
  background-color: var(--backgroundColor2);
  border: 1px solid var(--borderColor2);
  color: var(--color2);
}
.button.color-2 svg {
  fill: var(--color2);
  color: var(--color2);
}
.button.color-2:hover:not(:disabled) {
  background-color: var(--backgroundColor2Hover);
}
.button.color-3 {
  background-color: var(--backgroundColor3);
  border: 1px solid var(--borderColor3);
  color: var(--color3);
}
.button.color-3 svg {
  fill: var(--color3);
  color: var(--color3);
}
.button.color-3:hover:not(:disabled) {
  background-color: var(--backgroundColor3Hover);
}
.button.red {
  background-color: var(--backgroundColorRed);
  border: 1px solid var(--borderColorRed);
  color: var(--colorRed);
}
.button.red svg {
  fill: var(--colorRed);
  color: var(--colorRed);
}
.button.green {
  background-color: var(--backgroundColorGreen);
  border: 1px solid var(--borderColorGreen);
  color: var(--colorGreen);
}
.button.green svg {
  fill: var(--colorGreen);
  color: var(--colorGreen);
}
.button.yellow {
  background-color: var(--backgroundColorYellow);
  border: 1px solid var(--borderColorYellow);
  color: var(--colorYellow);
}
.button.yellow svg {
  fill: var(--colorYellow);
  color: var(--colorYellow);
}
.button.notClickable {
  pointer-events: none;
}
.button.hideIcon {
  gap: 0;
}
.button.hideIcon svg,
.button.hideIcon img {
  width: 0px !important;
  height: 0px !important;
  opacity: 0;
}
.button.icon-small svg,
.button.icon-small img {
  width: 14px;
  height: 14px;
}
.button.icon-medium svg,
.button.icon-medium img {
  width: 16px;
  height: 16px;
}
.button.icon-large svg,
.button.icon-large img {
  width: 18px;
  height: 18px;
}
.button.text-small {
  font-size: 0.8rem;
}
.button.text-medium {
  font-size: 0.9rem;
}
.button.text-large {
  font-size: 1.2rem;
}
.button:disabled {
  opacity: 0;
  display: none;
}
.button.fadeInOutInfinitely {
  animation: fadeOutIn 2s infinite;
}
@keyframes fadeOutIn {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
.button.wiggleOnce {
  animation: wiggle 0.5s 1;
}
@keyframes wiggle {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
.button.scaleUpOnce {
  animation: scaleUp 0.5s 1 ease-in-out;
}
@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/*# sourceMappingURL=Button.module.css.map */