@import "../../variables.less";

.button{
    padding: .6rem 1rem;
    background-color: @backgroundColor3;
    border: 1px solid @borderColor3;
    color: @color3;
    border-radius: .5rem;
    font-weight: 500;
    cursor: pointer;
    transition: all .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    svg{
        fill: @color3;
        color: @color3;
        stroke: @color3;
        transition: all .2s;
    }

    &.color-1{
        background-color: @backgroundColor1;
        border: 1px solid @borderColor1;
        color: @color1;

        &:hover:not(:disabled){
            background-color: @backgroundColor1Hover;
        }
    }

    &.color-2{
        background-color: @backgroundColor2;
        border: 1px solid @borderColor2;
        color: @color2;

        &:hover:not(:disabled){
            background-color: @backgroundColor2Hover;
        }
    }

    &.color-3{
        background-color: @backgroundColor3;
        border: 1px solid @borderColor3;
        color: @color3;

        &:hover:not(:disabled){
            background-color: @backgroundColor3Hover;
        }
    }

    &.red{
        background-color: @backgroundColorRed;
        border: 1px solid @borderColorRed;
        color: @colorRed;
    }

    &.green{
        background-color: @backgroundColorGreen;
        border: 1px solid @borderColorGreen;
        color: @colorGreen;
    }

    &.yellow{
        background-color: @backgroundColorYellow;
        border: 1px solid @borderColorYellow;
        color: @colorYellow;
    }

    &.notClickable{
        pointer-events: none;
    }

    &.hideIcon{
        svg, img{
            width: 0px !important;
            height: 0px !important;
            opacity: 0;
        }

        gap: 0;
    }

    &.icon-small{
        svg, img{
            width: 14px;
            height: 14px;
        }
    }

    &.icon-medium{
        svg, img{
            width: 16px;
            height: 16px;
        }
    }

    &.icon-large{
        svg, img{
            width: 18px;
            height: 18px;
        }
    }

    &.text-small{
        font-size: .8rem
    }

    &.text-medium{
        font-size: .9rem;
    }

    &.text-large{
        font-size: 1.2rem
    }

    &:disabled{
        background-color: @backgroundColor2;
        color: lighten(@backgroundColor2, 20%);
        border-color: lighten(@backgroundColor2, 20%);
        cursor: not-allowed;

        svg{
            opacity: .5;
        }
    }

    &.fadeInOutInfinitely{
        animation: fadeOutIn 2s infinite;
    }

    @keyframes fadeOutIn {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0.3;
        }
        100% {
            opacity: 1;
        }
    }

    &.wiggleOnce{
        animation: wiggle .5s 1;
    }

    @keyframes wiggle {
        0% {
            transform: translateX(0);
        }
        25% {
            transform: translateX(-5px);
        }
        50% {
            transform: translateX(5px);
        }
        75% {
            transform: translateX(-5px);
        }
        100% {
            transform: translateX(0);
        }
    }

    &.scaleUpOnce{
        animation: scaleUp .5s 1 ease-in-out;
    }

    @keyframes scaleUp {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }
}