/* Global variables */
.rainGradient {
  background-color: #37549d;
  background: linear-gradient(90deg, #37549d 0%, rgba(55, 84, 157, 0.5) 100%);
}
.leafGradient {
  background-color: #303d31;
  background: linear-gradient(90deg, #303d31 0%, rgba(48, 61, 49, 0.5) 100%);
}
.windGradient {
  background-color: #3b303d;
  background: linear-gradient(90deg, #3b303d 0%, rgba(59, 48, 61, 0.5) 100%);
}
.sunGradient {
  background-color: #3d3c30;
  background: linear-gradient(90deg, #3d3c30 0%, rgba(61, 60, 48, 0.5) 100%);
}
.gradient1 {
  background-color: #1f2124;
  background: linear-gradient(90deg, #2d3138 0%, #1e2024 100%);
}
.gradient2 {
  background-color: #1f2124;
  background: linear-gradient(90deg, #2d3138 0vw, #1e2024 100vw);
}
.nav {
  background-color: #25272d;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  position: fixed;
  bottom: 0;
  user-select: none;
  z-index: 100;
  border-top: 1px solid #47484b;
  box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 1000px) {
  .nav {
    display: none;
  }
}
.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  width: 100%;
  box-sizing: border-box;
  grid-template-columns: repeat(5, 1fr);
}
.nav ul li {
  background-color: #25272d;
  border: 1px solid #25272d;
  border-right: 1px solid #47484b;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  font-weight: 600;
  padding: 0.75rem 0;
  box-sizing: border-box;
  text-overflow: ellipsis;
}
.nav ul li .label {
  font-size: 0.6rem;
  margin-top: 0.4rem;
}
.nav ul li svg {
  width: 23px;
  height: 23px;
}
.nav ul li.active {
  color: #b6e8ff;
}
.nav ul .menuButton {
  background-color: #1a1b1d;
  color: #fff;
}
.sideNav.closed {
  transform: translate(100%);
  opacity: 0;
}
@media screen and (min-width: 1000px) {
  .sideNav.closed {
    opacity: 1;
    transform: none;
  }
}
.overlay {
  background-color: rgba(33, 42, 60, 0.67);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease;
  z-index: 999;
  backdrop-filter: blur(5px);
}
@media screen and (min-width: 1000px) {
  .overlay {
    display: none;
  }
}
.overlay.closed {
  opacity: 0;
  pointer-events: none;
}
.sideNav {
  background-color: #25272d;
  color: #fff;
  max-width: 100%;
  width: 25rem;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 1000;
  opacity: 1;
  transition: all 0.2s ease;
  user-select: none;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3);
  border-left: 1px solid #47484b;
}
@media screen and (min-width: 1000px) {
  .sideNav {
    width: 20rem;
    transition: none;
    position: fixed;
    left: 0;
    border-left: none;
    border-right: 1px solid #47484b;
  }
}
.sideNav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  height: 100%;
}
.sideNav ul li {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 100%;
  align-items: center;
  font-weight: 600;
  padding: 1.5rem 0 1.5rem 2rem;
  box-sizing: border-box;
  border-bottom: 1px solid #47484b;
}
.sideNav ul li svg {
  width: 20px;
  height: 20px;
}
.sideNav ul li .label {
  font-size: 0.8rem;
  margin-left: 1.4rem;
}
.sideNav ul li.weatherStation {
  background-color: #1a1b1d;
  display: flex;
  flex-direction: row;
}
.sideNav ul li.weatherStation .weatherStationIcon {
  color: #b6e8ff;
  width: 30px;
  height: 30px;
}
.sideNav ul li.weatherStation .infoArea {
  margin-left: 2rem;
}
.sideNav ul li.weatherStation .infoArea .name {
  font-size: 1.1rem;
  font-weight: 600;
}
.sideNav ul li.weatherStation .infoArea .elevation {
  font-size: 0.8rem;
  font-weight: 400;
}
.sideNav ul li.weatherStation > :last-child {
  margin-left: auto;
  padding: 0 2rem;
  width: 25px;
  height: 25px;
}
.sideNav ul li.settings {
  border-bottom: none;
  border-top: 1px solid #47484b;
  margin-top: auto;
  background-color: #1a1b1d;
}
.sideNav ul li.settings svg {
  color: #b6e8ff;
}
.sideNav ul li.active {
  background-color: rgba(0, 0, 0, 0.2);
}
.sideNav ul li.active svg {
  color: #b6e8ff;
}
@media screen and (min-width: 1000px) {
  .sideNav ul li {
    padding: 1.3rem 0 1.3rem 2rem;
  }
  .sideNav ul li svg {
    width: 17px;
    height: 17px;
  }
  .sideNav ul li .label {
    font-size: 0.7rem;
  }
}
@media (pointer: fine) {
  .sideNav ul li:hover {
    background-color: rgba(255, 255, 255, 0.03);
  }
}
.sideNav ul .menuButton {
  background-color: #25272d;
  color: #fff;
}
/*# sourceMappingURL=Navigation.module.css.map */