/* Global variables */
.overlay {
  background-color: rgba(33, 42, 60, 0.67);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease;
  z-index: 999;
  backdrop-filter: blur(5px);
}
/* The bottom or top navigation menu */
.nav {
  background-color: #111214;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  position: fixed;
  bottom: 0;
  user-select: none;
  z-index: 100;
  border-top: 1px solid #343c41;
  /*box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.5);*/
}
@media screen and (min-width: 1000px) {
  .nav {
    background-color: #111214;
    bottom: initial;
    position: fixed;
    top: 0;
    padding: 1rem;
    box-sizing: border-box;
    border-bottom: 1px solid #343c41;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
  }
}
.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  width: 100%;
  box-sizing: border-box;
  grid-template-columns: repeat(5, 1fr);
}
@media screen and (min-width: 1000px) {
  .nav ul {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 1rem;
  }
}
.nav ul li {
  background-color: #202225;
  border-right: 1px solid #32353a;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  font-weight: 600;
  padding: 0.75rem 0;
  box-sizing: border-box;
  text-overflow: ellipsis;
  color: #fff;
}
.nav ul li.logo {
  display: none;
  cursor: initial;
  padding: 0 2rem;
  padding-left: 0;
  border: unset;
  border-radius: 0;
  border-right: 1px solid #343c41;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: transparent;
}
@media screen and (min-width: 1000px) {
  .nav ul li.logo {
    display: flex;
  }
}
.nav ul li.logo h1 {
  margin: 0;
  margin-left: 1.5rem;
  display: none;
}
@media screen and (min-width: 1200px) {
  .nav ul li.logo h1 {
    display: inline-block;
  }
}
.nav ul li.logo svg {
  margin-right: 0;
  width: 50px;
  height: 50px;
}
.nav ul li.logo.active {
  color: unset;
}
.nav ul li.logo:hover {
  color: unset;
  background-color: unset;
}
.nav ul li.active {
  color: #96c7ff;
}
.nav ul li.active svg {
  fill: #96c7ff;
}
@media screen and (min-width: 1000px) {
  .nav ul li {
    background-color: #202225;
    border-radius: 0.6rem;
    flex-direction: row;
    border: 1px solid #32353a;
    color: #fff;
    padding: 1rem 2rem;
  }
  .nav ul li.active {
    background-color: #1d2a5e;
    border-color: #2e4992;
    color: #fff;
  }
  .nav ul li.active:hover {
    background-color: #1d2a5e;
    border-color: #2e4992;
    color: #fff;
  }
  .nav ul li:hover {
    background-color: #34363d;
    color: #fff;
  }
}
.nav ul li .label {
  font-size: 0.6rem;
  margin-top: 0.4rem;
}
@media screen and (min-width: 1000px) {
  .nav ul li .label {
    margin-top: 0;
    font-size: 0.85rem;
  }
}
.nav ul li svg {
  width: 23px;
  height: 23px;
}
@media screen and (min-width: 1000px) {
  .nav ul li svg {
    margin-right: 1rem;
    width: 20px;
    height: 20spx;
  }
}
.nav ul li.menuButton {
  background-color: #162049;
  color: #fff;
  border-top: 1px solid #2e4992;
  border-left: 1px solid #2e4992;
  position: relative;
  left: -1px;
  top: -1px;
  width: 101%;
  height: 101%;
}
@media screen and (min-width: 1000px) {
  .nav ul li.menuButton {
    margin-left: auto;
    border-color: #23376d;
    padding: 1.25rem;
    width: auto;
    height: auto;
  }
}
.nav ul li.menuButton svg {
  margin: 0;
}
/* The side navigation menu */
.sideNav {
  background-color: #111214;
  color: #fff;
  max-width: 100%;
  width: 25rem;
  margin: 0;
  padding: 0;
  border: 0;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 1000;
  opacity: 1;
  transition: all 0.2s ease;
  user-select: none;
  /*box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3);*/
  border-left: 1px solid #343c41;
  display: flex;
  flex-direction: column;
}
.sideNav .topArea {
  background-color: #111214;
  border-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem;
  border-bottom: 1px solid #343c41;
}
.sideNav .topArea .icon,
.sideNav .topArea .icon svg,
.sideNav .topArea .icon img {
  color: #96c7ff;
  width: 30px;
  height: 30px;
}
.sideNav .topArea .infoArea {
  margin-left: 2rem;
}
.sideNav .topArea .infoArea .heading {
  font-size: 1.1rem;
  font-weight: 600;
  max-width: 8rem;
  text-wrap-mode: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sideNav .topArea .infoArea .subheading {
  font-size: 0.8rem;
  font-weight: 400;
}
.sideNav .topArea .action {
  padding: 1rem;
  background-color: #202225;
  border: 1px solid #32353a;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
}
.sideNav .topArea .action svg,
.sideNav .topArea .action img {
  fill: #fff;
  stroke: #fff;
  height: 16px;
  width: 16px;
}
.sideNav .topArea .action.first {
  margin-left: auto;
}
.sideNav .topArea .action:hover {
  background-color: #34363d;
}
.sideNav .settings {
  border-bottom: none;
  border-top: 1px solid #343c41;
  margin-top: auto;
  background-color: #111214;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  cursor: pointer;
}
.sideNav .settings .label {
  font-weight: 700;
  font-size: 0.9rem;
}
.sideNav .settings svg {
  color: #fff;
  width: 18px;
  height: 18px;
}
.sideNav .settings:hover,
.sideNav .settings.active:hover {
  background-color: #24262b;
}
.sideNav ul {
  padding: 1rem;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.sideNav ul li {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 100%;
  align-items: center;
  font-weight: 600;
  padding: 1.4rem 1.8rem;
  box-sizing: border-box;
  border: 1px solid #32353a;
  border-radius: 0.75rem;
  background-color: #202225;
}
.sideNav ul li svg {
  width: 20px;
  height: 20px;
}
.sideNav ul li .label {
  font-size: 0.8rem;
  margin-left: 1.4rem;
}
.sideNav ul li.active {
  background-color: #162049;
  border-color: #2e4992;
}
.sideNav ul li.active svg {
  color: #96c7ff;
}
@media (pointer: fine) {
  .sideNav ul li:hover:not(.active) {
    background-color: #34363d;
  }
}
.sideNav ul .menuButton {
  background-color: #111214;
  color: #fff;
}
.sideNav.closed {
  transform: translate(100%);
  opacity: 0;
}
.overlay {
  background-color: rgba(33, 42, 60, 0.67);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease;
  z-index: 999;
  backdrop-filter: blur(5px);
}
.overlay.closed {
  opacity: 0;
  pointer-events: none;
}
/*# sourceMappingURL=Navigation.module.css.map */