@backgroundColor1: #1a1b1d;
@borderColor1: #47484b;
@color1: #fff;

@backgroundColor2: #25272d;
@color2: #fff;
@borderColor2: #717377;
@lightBackgroundColor2: rgb(23, 38, 46);

@backgroundColor3: #343944;
@color3: #fff;

@backgroundColor4: #2d3036;

@accentColor: rgb(182, 232, 255);
@overlayColor: rgba(33, 42, 60, 0.67);

.gradient3 {
    background-color: @backgroundColor4;
    background: linear-gradient(
        90deg,
        rgba(62, 68, 80, 1) 0%,
        rgba(48, 53, 62, 1) 100%
    );
}
