

@popupZIndex: 1000;

// Mixins
.overlay {
    background-color: var(--overlayColor);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 0.2s ease;
	z-index: @popupZIndex;
	backdrop-filter: blur(5px);
	overflow: hidden;
}