/* Global variables */
.overlay {
  background-color: rgba(33, 42, 60, 0.67);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease;
  z-index: 999;
  backdrop-filter: blur(5px);
}
.container {
  width: 100%;
  box-sizing: border-box;
  background-color: #111214;
  border: 1px solid #343c41;
  margin-top: 0.9rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 0.75rem;
  font-size: 0.9rem;
  font-weight: 500;
}
.container.hidden {
  display: none;
}
.container .icon {
  width: 12px;
  height: 12px;
  color: white;
  fill: white;
}
.container .status .icon {
  margin: 0 0.75rem;
}
.container .status.connected .icon {
  fill: #3ec23e;
}
.container .status.disconnected .icon {
  fill: #c23e3e;
}
.container .status.connecting .icon {
  fill: #c29f3e;
  animation: fadeOutIn 2s infinite;
}
@keyframes fadeOutIn {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.container .lastUpdate {
  margin-left: auto;
  color: rgba(255, 255, 255, 0.7);
}
.container .lastUpdate .icon {
  margin: 0 0.5rem;
  width: 14px;
  height: 14px;
}
.disconnectedPopup {
  background-color: rgba(33, 42, 60, 0.67);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease;
  z-index: 999;
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  transition: all 0.5s;
}
.disconnectedPopup.hidden {
  opacity: 0;
  pointer-events: none;
}
.disconnectedPopup .popupContent {
  background-color: #111214;
  border: 1px solid #343c41;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  max-width: 25rem;
  gap: 1rem;
  overflow: hidden;
}
.disconnectedPopup .popupContent .icon {
  width: 24px;
  height: 24px;
  fill: #fff;
  margin-bottom: 1rem;
}
.disconnectedPopup .popupContent .popupHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 1.2rem 1.5rem;
  gap: 1rem;
  box-sizing: border-box;
  background-color: #140505;
  border-bottom: 1px solid #343c41;
}
.disconnectedPopup .popupContent .popupHeader .disconnectedIcon {
  width: 35px;
  height: 35px;
  fill: #c23e3e;
}
.disconnectedPopup .popupContent .popupHeader h1 {
  font-size: 1.3rem;
  font-weight: 500;
  color: white;
  margin: 0;
}
.disconnectedPopup .popupContent .popupBody {
  display: flex;
  flex-direction: column;
  padding: 0 2rem 2rem 2rem;
  gap: 0.5rem;
}
.disconnectedPopup .popupContent .popupBody p {
  font-size: 0.9rem;
  font-weight: 400;
  text-align: center;
}
.disconnectedPopup .popupContent .popupBody hr {
  width: 50%;
  background-color: #343c41;
  height: 1px;
  border: none;
}
.disconnectedPopup .popupContent .popupBody .reconnectButton {
  margin-top: 0.5rem;
}
.disconnectedPopup .popupContent .popupBody .reconnectButton.retrying {
  animation: fadeOutIn 1s infinite;
}
.disconnectedPopup .popupContent .popupBody .reconnectButton.failed {
  animation: wiggle 0.5s 1;
}
.disconnectedPopup .popupContent .popupBody .reconnectButton.success {
  animation: scaleUp 0.5s 1;
}
/*# sourceMappingURL=ConnectionStatusBar.module.css.map */